
<header class="coffee">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="coffee__box">
          <a href="#"><img class="coffee__box-logo" src="img/logo-header.png" alt="Coffee maker logo"></a>
        </div>
        <ul class="coffee__list d-flex justify-content-end">
          <li class="coffee__item"><a href="#">Program</a></li>
          <li class="coffee__item"><a href="#">Gallery</a></li>
          <li class="coffee__item"><a href="#">Reviews</a></li>
          <li class="coffee__item"><a href="#">Partners</a></li>
          <li class="coffee__item"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
