<section class="first">
  <div class="container">
    <div class="row">
      <div class="col d-flex flex-column align-items-center justify-content-center">
        <span class="first__over-description">Intensive program barista training</span>
        <h1 class="first__title">
          Barista Training in <span class="first__title--color">Amsterdam</span>
        </h1>
        <span class="first__sub-description">On the basis of the company's largest coffee roasters</span>
      </div>
      <a class="first__button-box" href="#aboutus">
        <img src="img/button-arrow.svg" alt="Arrow button">
      </a>
      <!-- <div class="first__layout"></div> -->
    </div>
  </div>
</section>
