body {
  font-family: Georgia;
}

.section {

  &__title {
    font-family: 'Roboto', sans-serif;
    color: #000;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__description {
    padding-top: 24px;
    font-size: 16px;
    color: $colot_light_black;
    font-weight: 400;
    line-height: 33px;
    letter-spacing: -0.16px;
  }
}
